{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des cours</h1>

    <a href="{{ path('app_course_new') }}" class="btn btn-success mb-3">Créer un nouveau cours</a>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.title }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.price }} €</td>
                     <td>
                        <a href="{{ path('app_course_edit', {id: course.id}) }}" class="btn btn-warning btn-sm">Modifier</a>

                        <form method="post" action="{{ path('app_course_delete', {id: course.id}) }}" style="display:inline;" onsubmit="return confirm('Confirmer la suppression ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
                            <button class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                    </tr>
                {% else %}
                <tr>
                    <td colspan="3">Aucun cours trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

