{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Votre Panier</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Prix Unitaire</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if items is empty %}
                            <tr>
                                <td colspan="5" class="text-center">Votre panier est vide</td>
                            </tr>
                        {% else %}
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.product.price }} €</td>
                                    <td>{{ item.product.price * item.quantity }} €</td>
                                    <td>
                                        <a href="{{ path('app_cart_product_remove', {'id':item.product.id}) }}" class="text-danger text-decoration-none">Supprimer le panier</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

                <div class="total-price">
                    <p>Total: {{ total }} €</p>
                </div>
            </div>

            <div class="col-4">
                <!-- Bouton ou lien vers la validation de la commande -->
                
                    <a href="{{ path('app_order') }}" class="btn btn-success">Valider la commande</a>
                
                    
               
            </div>
        </div>
    </div>
{% endblock %}











